@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*COLORS*/
    .bg-banner{
        background-color:#100514;
    }

    .bg-btn-purple{
        background-color:#8C30F5;
    }

    .bg-font-main{
        color:#ECD7F4;
    }
}