@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
    --becka-purple-darkest : #100514;
    --becka-neutral : #E7DFDD;
    --becka-purple-dark: #1A0821;
    --becka-purple-accent : #8C30F5;
    --becka-purple-light : #ECD7F4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h2{
        @apply font-becka-sans;
    }
}

@layer utilities {
    /*COLORS*/
    .bg-banner{
        background-color:#100514;
    }
    
    .bg-btn-purple{
        background-color:#8C30F5;
    }

    .bg-font-main{
        color:#ECD7F4;
    }

    .bg-logo{
        background-color: #E25FEB;
    }
}